body {
	width: 99%;
	margin: 5px; 
	font-family: Arial, Helvetica, sans-serif;
}

.header {
	width: 97%;
	height: 35px;
	line-height: 35px;
	background: #3366cc3d;
	padding: 0 15px;
}

.header img {
	width: 50%
}

.headline {
	font-size: 20px;
	font-weight: bold;
	color: #3366cc;
}

.new-task {
	background:#eee;
	margin: 5px;
	border-radius: 4px;
	width: 98%;
}

.new-task .head {
	background:#ccc;
	border-radius: 4px;
	margin-bottom: 5px;
	height: 25px;
	line-height: 25px;
	font-size: large;
	font-weight: 15px;
	color:#36c;
	padding: 0 10px;
}

.new-task .body div {
	width: 100%;
	margin-bottom: 5px;
}

.new-task .body label {
	margin-left: 100px;
	font-size: 15px;
	margin-right: 20px;
	color:#36c;
	font-weight: 500;
	display: inline-block;
	width: 10%;
}

.new-task .body input {
	width: 50%;
	height: 15px;
}

.new-task .body textarea {
	width: 51%;
}

.new-task .footer {
	height: 30px;
	line-height: 30px;
}
.new-task .footer input {
	float: right;
	height: 25px;
	margin-top: 2px;
	background:#36c;
	color:#fff;
	border-radius: 4px;
	border: 1px solid#36c;
	padding: 0 20px;
}

.total-tasks {
	width: 96%;
	padding: 0 15px;
	font-size: 14px;
	font-weight: bold;
	color:#36c;
}

.task-list {
	width: 97%;
	margin: 5px;
	background:#e5ecf9;
	border-radius: 4px;
	padding: 7px;
	
}

.task-list table {
	width: 100%;
	font-size: 15px;
}

.task-list table th {
	background:#ccc;
    padding: 5px;
    text-align: center;
}

.task-list table td {
	background: #fff;
	padding: 5px;
}
